body {
  font-family: "Major Mono Display", monospace;
}

.zoom {
  transition: transform 2s;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  width: 15rem;
}

hr.divide {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #000000,
    #9220c7,
    #253daa,
    #000000
  );
}
